# It's ok.  I didn't believe it either.

:::

## So you can try for yourself...

```
❌  chrome
❌  firefox
✅  safari
✅  chrome-experiments-enabled
✅  firefox-modules-enabled
```

#### <http://bit.ly/es6-modules-browser-test>


